<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="CustomerService" packages="">
  <Properties>
   <Property name="LOG_PATTERN">%5p %d %d{Z} [%X{requestAppName},%X{traceId},%X{spanId}] -- %t %c - %m%n</Property>
  </Properties>
	<Appenders>
		<RollingRandomAccessFile name="CustomerFile" fileName="../logs/customerservice.log" filePattern="../logs/$${date:yyyy-MM}/customerservice-%d{yyyy-MM-dd-HH}-%i.log.gz">
		   <PatternLayout pattern="${LOG_PATTERN}"/>
		<Policies>
			<TimeBasedTriggeringPolicy interval="3" modulate="true"/>
			<SizeBasedTriggeringPolicy size="25 MB"/>
		  </Policies>
		</RollingRandomAccessFile>

		<Console name="STDOUT" target="SYSTEM_OUT">
		   <PatternLayout pattern="${LOG_PATTERN}"/>
		</Console>
   </Appenders>
 
	<Loggers>
		<Root level="debug">
		  <AppenderRef ref="CustomerFile"/>
		  <AppenderRef ref="STDOUT"/>	
		</Root>
	</Loggers>
</Configuration>